{% extends "admin/base.html.twig" %}

{% block content %}

{% autoescape false %}
    <div class="container main-content mt-100">
        {% if page.headers %}
        <table class="table">
            <thead class="thead-dark">
            <tr>
            {% for head in page.headers %}
                <th scope="col">{{ head | replace({'_':' '}) | capitalize }}</th>
            {% endfor %}
                <th scope="col">Operationen</th>
            </tr>
            </thead>
            <tbody>
                {% for item in page.items %}
                    <tr>
                    {% for field in item %}
                        <td>
                            {% if field == item.bild %}
                                <img src="{{ field }}" width="100" alt="" />
                            {% elseif field == item.email %}
                                <a href="mailto:{{ field }}" target="_blank">{{ field }}</a>
                            {% elseif field == item.url %}
                                <a href="{{ field }}" target="_blank">{{ field }}</a>
                            {% else %}
                                {{ field | striptags | split('',50) | first }}</td>
                            {% endif %}
                    {% endfor %}
                        <td>
                            <a href="{{ page.pageTable }}/{{ item.id }}/edit"><img style="width:36px" src="/public/img/icons/update.jpg" alt="" /></a>
                            <a href="{{ page.pageTable }}/{{ item.id }}/delete"><img style="width:36px" src="/public/img/icons/delete.jpg" alt="" /></a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
            <table class="table">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">Tabelle</th>
                    <th scope="col">Zeilenanzahl</th>
                </tr>
                </thead>
                <tbody>
                {% for section in page.menu %}
                <tr>
                    <td>{{ section.item | capitalize }}</td>
                    <td>{{ section.count }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
{% endautoescape %}

{% endblock %}

