{% extends "auth/base.html.twig" %}

{% block content %}
    <div class="container main-content mt-100">
        <form action="{{ formular.action }}" method="post">
            {% for field in formular.fields %}
                <div class="form-group">
                    <label for="{{ field.Field }}">{{ field.Field | replace({'_': ' '}) | capitalize }}</label>
                    {% if field.Type == 'text' %}
                        <textarea class="form-control" id="{{ field.Field }}" name="{{ field.Field }}" rows="5"
                                  cols="80"></textarea>
                    {% elseif 'password' in field.Field %}
                        <input type="password" class="form-control" id="{{ field.Field }}" name="{{ field.Field }}">
                    {% else %}
                        <input type="text" class="form-control" id="{{ field.Field }}" name="{{ field.Field }}">
                    {% endif %}
                </div>
            {% endfor %}
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
{% endblock %}
