<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand" href="/"><img src="/public/img/logo.png" height="60"></a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                {% for menuitem in page.menu %}
                    <li class="nav-item">
                        <a class="nav-link"
                           href="/{{ menuitem.schnecke }}">{{ menuitem.titel | replace({'-': ' '}) }}</a>
                    </li>
                {% endfor %}
                <li class="nav-item">
                    {% if session.logged_in %}
                        <a class="nav-link btn btn-secondary btn-sm" href="/admin/logout">Abmeldung</a>
                    {% else %}
                        <a class="nav-link btn btn-secondary btn-sm" href="/admin/login">Anmeldung</a>
                    {% endif %}
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Page Header -->
<header class="masthead"
        style="background-image: url('../public/img/{{ page.schnecke ? page.schnecke : 'index' }}-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1>{% block headerheading %}{{ (page.kopfueberschrift) ? page.kopfueberschrift : page.titel }}{% endblock %}</h1>
                    <span class="subheading">{% block headertext %}{{ (page.kopftext) ? page.kopftext: 'Erstellt am ' ~ page.erstellt_um|date("d M Y") }}{% endblock %}</span>
                </div>
            </div>
        </div>
    </div>
</header>
